set username admin
set usernameCisco admin
set usernameRedback admin
set password password1
set passwordCisco password2
set passwordRedback password3
set enableCisco password4
set enableRedback password5
