set usernameDlink admin
set usernameCisco admin
set usernameEricsson admin
set usernameEdgecore admin
set passwordDlink password1
set passwordCisco password2
set passwordEricsson password3
set passwordEdgecore password4
set enableDlink password5
set enableCisco password6
set enableEricsson password7
